<!-- about me  -->
<div class="row first-row" id="about-me-row">
    <div class="col-sm-12 body-element" id="about-me">
        <div class="row">
            <div class="col-sm-12" id="about-me-title">
                <h2 class="element-title">About Me:</h2>
            </div>
        </div>
        <img class="m-1" id="profile-picture" src="./images/Profile-Picture.jpg"
            alt="Branden Patten's Profile-Picture.jpg">
        <div id="bio-text">
            <h3><strong>Hi, I'm Branden! A Web Dev from South West Florida!</strong></h3>
            <h4><strong>Sequelize, Express, Handlebars, Nodejs, React, and Mongo.</strong></h4>
            <h5><strong>I enjoy back-end work, it seems to be my strong suit.</strong></h5>
                <p>As a dedicated learner, I will pour countless hours into a project until I understand it
                    inside
                    and
                    out. My parent's said to me when growing up, "Never stop learning!" </p>
                <p>The majority of my work experience has been in the service industry. Web development seemed
                    like
                    an
                    amazing oppourtunity to escape, and I am enthusiastic to continue growing in this field. So
                    far,
                    I'm
                    only a fledgling, but if I keep working hard at a problem, I know my work will shine like
                    none-other.</p>
                <p>I am excited to show my passion for coding, and will continue growing as long as I pursue it.
                    As long the goal is in mind, target focus will ensure success. Remembering the
                    'Why' for doing things.
                </p>
        </div>
    </div>
</div>
<!-- about me  -->