<!-- contact form  -->
<div class="row first-row" id="contact-row">
    <div class="col-sm-12 body-element">
        <div class="row">
            <div class="col-sm-12" id="contact-title">
                <h3 class="element-title">Reach me:</h3>
            </div>
        </div>
        {{!-- <form id="contact-form">
            Name:
            <br>
            <input type="text" id="name" name="Name" placeholder=" John Smith">
            <br> Email:
            <br>
            <input type="text" id="email" name="Email" placeholder=" example@gmail.com">
            <br> Message:
            <br>
            <input type="text" id="message" name="Message">
            <br>
            <input type="submit" value="Submit">
        </form> --}}
        <div id="profile-links">
            <div class="row profile-link">
            <span>[</span>
            <a href="https://github.com/pattenbranden" target="_blank"><i class="fa fa-github-square"></i> My Github Account</a>
            <span>]

            </div>
            <div class="row profile-link"> <br> [</span>
            <a href="https://www.linkedin.com/in/branden-patten/" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i> My Linkedin Profile</a>
            <span>]

            </div>
            <div class="row profile-link"> <br> [</span>
            <a href="/resume" target="_blank"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> My Résumé</a>
            <span >]</span>

            </div>
            <div class="row profile-link">
            <span >Phone: 239-699-2087</span>

            </div>
            <div class="row profile-link">
            <span >Email: Patten.Branden@gmail.com</span>

            </div>
            <br>
            <br>
        </div>
    </div>
</div>
<!-- contact form  -->