<!-- projects -->
<div class="row  first-row" id="projects-row">
    <div class="col-sm-12 body-element">
        <div class="row">
            <div class="col-sm-12" id="projects-title">
                <h3 class="element-title">What I've Done:</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h2 id="projects-lead" class="text-center mt-2">Here is a list of projects I've had my hands in.</h2>
            </div>
        </div>
        <div class="row" id="projects-row-1">
            <div class="col-sm-12" id="all-projects">
                <div class="project" id="corona-blog">
                    <a href="https://github.com/AlanFord9/project-2">

                        <img class="project-image" src="./images/corona-blog.PNG" alt="social-distance-network image">
                        <h3 class="project-title">The Social Distance Network</h3>
                    </a>
                </div>

                <div class="project" id="employee-scheduler">
                    <a href="https://github.com/alexschu90/Employee-Scheduler">


                        <img class="project-image" src="./images/employee.PNG" alt="employee-scheduler image">
                        <h3 class="project-title">Employee Scheduler</h3>
                    </a>
                </div>
                <div class="project" id="crystal-collector">
                    <a href="https://github.com/pattenbranden/Crystal-Collector">


                        <img class="project-image" src="./images/crystal.png" alt="crystal-collector image">
                        <h3 class="project-title">Crystal Collector</h3>
                    </a>
                </div>
                <div class="project" id="giphy-animal-search">
                    <a href="https://github.com/pattenbranden/giphy-animal-search">

                        <img class="project-image" src="./images/giphy.PNG" alt="giphy-animal-search image">
                        <h3 class="project-title">Giphy Search</h3>
                    </a>
                </div>
                <div class="project" id="starwars">
                    <a href="https://github.com/pattenbranden/starwars">


                        <img class="project-image" src="./images/starwars.PNG" alt="starwars image">
                        <h3 class="project-title">Starwars Characters</h3>
                    </a>
                </div>
                <div class="project" id="burger-joint">
                    <a href="https://github.com/pattenbranden/Burger-App">


                        <img class="project-image" src="./images/burger joint.PNG" alt="burger-joint image">
                        <h3 class="project-title">Burger Joint</h3>
                    </a>
                </div>
                <div class="project" id="friend-finder">
                    <a href="https://github.com/pattenbranden/Friend-Finder">

                        <img class="project-image" src="./images/friend-finder.PNG" alt="friend-finder image">
                        <h3 class="project-title">Compatibility Match</h3>
                    </a>
                </div>
                <div class="project" id="ps2-react-clicky">
                    <a href="https://pattenbranden.github.io/PS2-clicky-game-react/">

                        <img class="project-image" src="./images/ps2-cliky-game.PNG" alt="ps2-react-clicky image">
                        <h3 class="project-title">React Clicky Game</h3>
                    </a>
                </div>
                <div class="project" id="react-googleBooks-mongo">
                    <a href="https://google-books-react-bp.herokuapp.com/">

                        <img class="project-image" src="./images/react-googlebooks-mongo.PNG" alt="react googleBooks Mongo image">
                        <h3 class="project-title">GoogleBooks reading list</h3>
                    </a>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- projects -->